@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Header*/
.header {
  margin: 0 0 583px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.header__menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  list-style-type: none;
  border: 1px solid white;
  border-left: none;
  width: 285px;
}

.header__menu_item:last-child {
  border-right: none;
}

body {
  max-width: 1920px;
  font-family: "Playfair Display", serif;
}

/*Blocks*/
.container {
  max-width: 1110px;
  margin: auto;
}

.block1 {
  color: white;
  background: url(../image/bgc.png) no-repeat;
  height: 900px;
}

.block1__info {
  margin: 0px 0 31px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block1__info_street {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 202px;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  margin: 0 801px 0 0;
}

.block1__info_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

.block2 {
  height: 856px;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid white;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 656px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1110px;
}

.block2__title {
  width: 736px;
  height: 54px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 60px 0 80px 0;
}

.block2__title::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 160px;
  background-color: white;
  border: 1px solid white;
  margin: 39px auto;
}

.block2__subtitle {
  width: 733px;
  height: 192px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;
  margin: 0 0 50px 0;
  color: #ffffff;
}

.block2__image {
  width: 160px;
  height: 160px;
  margin: 0px 0px 60px 0px;
}

.block3 {
  height: 1038px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e6e3c4;
}

.block3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 878px;
  border-bottom: 1px solid #998431;
  border-top: 1px solid #998431;
  width: 1110px;
}

.block3__row {
  margin: 60px 0px 0px 0px;
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.block3__row_1 {
  height: 734px;
  width: 555px;
}

.block3__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 555px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row__little-title {
  width: 347px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  margin: 0px 0px 30px 0px;
  color: #000000;
}

.row__title {
  width: 298px;
  height: 108px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 0px 0px 60px 0px;
  color: #282828;
}

.row__title::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 160px;
  background-color: #282828;
  border: 1px solid #282828;
  margin: 29px 0 0 0;
}

.row__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 445px;
  height: 84px;
  /* text/14r */
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  /* black */
  margin: 30px 0px 30px 0px;
  color: #282828;
}

.row__table {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.row__table table {
  border-collapse: collapse;
  border: 2px solid #e6e3c4;
}

.row__table table td {
  border: 1px solid black;
  padding: 14px;
}

.row__table span {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #282828;
}

.row__images_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

.row__images_two-little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row__images_two-little img {
  margin: 0px 30px 0px 0px;
}

.block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 767px;
  background: #282828;
  color: white;
}

.block4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 538px;
  border: 3px solid white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block4__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block4__images img:nth-child(1) {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 125px;
  top: 2854px;
}

.block4__images img:nth-child(2) {
  position: absolute;
  width: 260px;
  height: 200px;
  left: 1108px;
  top: 2858px;
}

.block4__title {
  padding: 10px 50px;
  margin: -42px auto 70px auto;
  width: 490px;
  height: 74px;
  background: #282828;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  text-align: center;
  /* white */
  color: #ffffff;
}

.block4__subtitle {
  text-align: center;
  margin: 0 auto 81px auto;
  width: 539px;
  height: 72px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;
  /* white */
  color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.form form {
  width: 540px;
  height: 200px;
}

.form form input {
  background-color: #282828;
  border: 0;
  border-bottom: 1px solid white;
}

.form form input[placeholder] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #fff;
}

.form__name {
  width: 255px;
  margin: 0px 26px 40px 0px;
  height: 30px;
}

.form__phone {
  width: 255px;
  height: 30px;
}

.form__where {
  width: 540px;
  height: 30px;
  margin: 0px 0px 50px 0px;
}

/*Classes*/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99862a;
  width: 203px;
  height: 50px;
  margin: 0 30px 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 182px;
  height: 50px;
  background-color: #99862a;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 254px;
  height: 50px;
  background: #998431;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* white */
  margin: 0px 0px 60px 0px;
  color: #ffffff;
}

.button_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  background-color: #282828;
  width: 541px;
  height: 50px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
}

/*Media*/
